{{#each ideasProperty}}
  <div class="card card-body mb-3 text-center">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-dark">Edit</a>
    <form action="/ideas/{{id}}?_method=DELETE" method="post" class="py-3">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
  </div>
{{else}}
<p>No Video ideas listed</p>
<a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
{{/each}}